{# app/Resources/views/Emails/registration.html.twig #}

Hi Geovannie! <br> Below is detail information pertaining to a Review Submission from a Customer.

<table>

            <tr>
                <th>Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{email}}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{Image}}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{message}}</td>
            </tr>
</table>
